<!DOCTYPE html>
{% load static %}
<html lang="en"> 
<head> 
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title></title>

<link rel="stylesheet" href="{% static 'pm/css/base.css' %}" >
<link rel="stylesheet" href="{% static 'pm/css/custom/uimaker/easyui.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'pm/css/custom/uimaker/icon.css' %}">
<link rel="stylesheet" href="{% static 'pm/css/process.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'script/js/umeditor/themes/default/css/umeditor.css' %}">
 
</head> 
<body>
    <div class="container">
       <table id="dg" style="width:100%;height:auto" title="我参与的活动" data-options="
                rownumbers:true,
				toolbar:'#toolbar',
                singleSelect:false,
                autoRowHeight:false,
                pagination:true,
                fitColumns:true,
                striped:true,
                checkOnSelect:false,
                selectOnCheck:false,
                collapsible:true,
                toolbar:'#tb',
                pageSize:10">
            <thead>
                <tr>
                    <th field="programName" width="20">项目名称</th>
                    <th field="applicant" width="20">申报人</th>
					<th field="date" width="20">项目时间</th>
                    <th field="credit" width="20">项目学分</th>
                </tr>
            </thead>
        </table>
		<div id="tb" style="padding:0 30px;">
		  <div id="toolbar">
			<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="location.href='../project/projectManage.html?active=search'">查看项目</a>
			<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="location.href='participatingProjects.html'">参与项目</a>
			<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="location.href='../edu/creditDetails.html'">查看学分</a>
			<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="">填写反馈表</a>
		  </div>
		  项目名称: <input class="easyui-textbox" type="text" name="code" style="width:166px;height:35px;line-height:35px;"></input>
		  项目时间: <td class="kv-content" id="ic_XMSJ1"><input class="easyui-datebox" style="width:166px;height:35px;line-height:35px;">~&nbsp;&nbsp;<input class="easyui-datebox" style="width:166px;height:35px;line-height:35px;"></td>
		  <a href="#" class="easyui-linkbutton" iconCls="icon-search" data-options="selected:true">查询</a>
		  <a href="#" class="easyui-linkbutton" iconCls="icon-reload">重置</a>
		</div>
    </div>
	<script type="text/javascript" src="{% static 'pm/script/JQueryUI/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'pm/script/JQueryUI/jquery.easyui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'pm/script/JQueryUI/locale/easyui-lang-zh_CN.js' %}"></script>


    
    <script type="text/javascript">
            (function($){
            function pagerFilter(data){
                if ($.isArray(data)){   // is array
                    data = {
                        total: data.length,
                        rows: data
                    }
                }
                var target = this;
                var dg = $(target);
                var state = dg.data('datagrid');
                var opts = dg.datagrid('options');
                if (!state.allRows){
                    state.allRows = (data.rows);
                }
                if (!opts.remoteSort && opts.sortName){
                    var names = opts.sortName.split(',');
                    var orders = opts.sortOrder.split(',');
                    state.allRows.sort(function(r1,r2){
                        var r = 0;
                        for(var i=0; i<names.length; i++){
                            var sn = names[i];
                            var so = orders[i];
                            var col = $(target).datagrid('getColumnOption', sn);
                            var sortFunc = col.sorter || function(a,b){
                                return a==b ? 0 : (a>b?1:-1);
                            };
                            r = sortFunc(r1[sn], r2[sn]) * (so=='asc'?1:-1);
                            if (r != 0){
                                return r;
                            }
                        }
                        return r;
                    });
                }
                var start = (opts.pageNumber-1)*parseInt(opts.pageSize);
                var end = start + parseInt(opts.pageSize);
                data.rows = state.allRows.slice(start, end);
                return data;
            }

            var loadDataMethod = $.fn.datagrid.methods.loadData;
            var deleteRowMethod = $.fn.datagrid.methods.deleteRow;
            $.extend($.fn.datagrid.methods, {
                clientPaging: function(jq){
                    return jq.each(function(){
                        var dg = $(this);
                        var state = dg.data('datagrid');
                        var opts = state.options;
                        opts.loadFilter = pagerFilter;
                        var onBeforeLoad = opts.onBeforeLoad;
                        opts.onBeforeLoad = function(param){
                            state.allRows = null;
                            return onBeforeLoad.call(this, param);
                        }
                        var pager = dg.datagrid('getPager');
                        pager.pagination({
                            onSelectPage:function(pageNum, pageSize){
                                opts.pageNumber = pageNum;
                                opts.pageSize = pageSize;
                                pager.pagination('refresh',{
                                    pageNumber:pageNum,
                                    pageSize:pageSize
                                });
                                dg.datagrid('loadData',state.allRows);
                            }
                        });
                        $(this).datagrid('loadData', state.data);
                        if (opts.url){
                            $(this).datagrid('reload');
                        }
                    });
                },
                loadData: function(jq, data){
                    jq.each(function(){
                        $(this).data('datagrid').allRows = null;
                    });
                    return loadDataMethod.call($.fn.datagrid.methods, jq, data);
                },
                deleteRow: function(jq, index){
                    return jq.each(function(){
                        var row = $(this).datagrid('getRows')[index];
                        deleteRowMethod.call($.fn.datagrid.methods, $(this), index);
                        var state = $(this).data('datagrid');
                        if (state.options.loadFilter == pagerFilter){
                            for(var i=0; i<state.allRows.length; i++){
                                if (state.allRows[i] == row){
                                    state.allRows.splice(i,1);
                                    break;
                                }
                            }
                            $(this).datagrid('loadData', state.allRows);
                        }
                    });
                },
                getAllRows: function(jq){
                    return jq.data('datagrid').allRows;
                }
            })
        })(jQuery);

        function getData(){
            var rows = [];
            for(var i=1; i<=1; i++){
                rows.push({
					programName: '中层干部培训',
					applicant: '王老师',
                    date: '2016.5.1～2017.5.1',
                    credit:'3'
                });
				rows.push({
					programName: '新校长培训班',
					applicant: '张老师',
                    date: '2016.5.1～2017.5.1',
                    credit:'6'
                });
				rows.push({
					programName: '干部培训',
					applicant: '张老师',
                    date: '2016.5.1～2017.5.1',
                    credit:'6'
                });
            }
            return rows;
        }
        
        $(function(){
            $('#dg').datagrid({data:getData()}).datagrid('clientPaging');
        });        
    </script>
</body> 
</html>
