<!DOCTYPE html>
{% load static %}
<html lang="en"> 
<head> 
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>主页</title>

<link rel="stylesheet" href="{% static 'pm/css/base.css' %}" >
<link rel="stylesheet" href="{% static 'pm/css/custom/uimaker/easyui.css' %}">
<link rel="stylesheet" href="{% static 'pm/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'pm/css/custom/uimaker/icon.css' %}">

</head> 
<body>
    	<div id="bd ">
		   	<div id="p" class="easyui-panel" title="活动参与详情" style="width:100%;padding:10px;">
				<div style="display: inline-block;">
					<blockquote style="padding: 0px 10px;margin-left: 40px;">
						<span style="font-size: 14px;">项目名称 : </span><span id="name" name="name"><strong>班主任干训班</strong></span>
					</blockquote>
					<blockquote style="padding: 0px 10px;margin-left: 40px;">
						<span style="font-size: 14px;">项目时间 : </span><span id="start_date" name="start_date"><strong>2016.5.1至2016.6.1</strong></span>
					</blockquote>
				</div>
				<div style="float: right;margin-right: 40%;">
			   		<blockquote style="padding: 0px 10px;margin-left: 40px;">
						<span style="font-size: 14px;">项目申报人 : </span><span id="applicant" name="applicant"><strong>张老师</strong></span>
					</blockquote>
					<blockquote style="padding: 0px 10px;margin-left: 40px;">
						<span style="font-size: 14px;">项目学分 : </span><span id="credit" name="credit"><strong>5</strong></span>
					</blockquote>
				</div>
				<div>
					<blockquote style="padding: 0px 10px;margin-left: 40px;">
						<span style="font-size: 14px;">班级名称 : </span><span><strong>班主任干训班</strong></span>
					</blockquote>
				</div>
				<hr>
				<div style="display: inline-block;width: 815px">
					<blockquote style="padding: 0px 10px;margin-left: 40px;">
						<span style="font-size: 14px;">项目内容 : </span>
						<ul style="float: right;margin-top: 3px" id="content" name="content">
							<li><strong>1、继续深入开展创先争优活动；</strong></li>
							<li><strong>2、扎实开展核心价值观教育实践活动；</strong></li>
							<li><strong>3、坚持从严教育干部，提高学习培训覆盖面和实效性，结合重点工作适时举行专题培训，优化干部知识结构，开阔干部思维视野</strong></li>
							<li><strong>4、坚持以人为本、按需施教，联系实际、学以致用，全员培训、突出重点的原则</strong></li>
						</ul>
					</blockquote>
				</div>
				<hr>
				
				<div style="width: 93%;margin: 0 auto;padding-bottom:20px;text-align: center;">
					<div id="p" class="easyui-panel" title="资料或总结" style="width:100%;padding:10px 20px;" >
						<a href="#" class="easyui-linkbutton" style="margin-bottom: 10px">保存</a>
						<div>
							<script type="text/plain" id="editor" style="width: 100%;height: 250px"></script>
						</div>
					</div>
			    </div>
				</div>
		</div>

    <script type="text/javascript" src="{% static 'pm/script/JQueryUI/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'pm/script/JQueryUI/jquery.easyui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'pm/script/JQueryUI/locale/easyui-lang-zh_CN.js' %}"></script>
    <!-- <script type="text/javascript" src="js/menu.js"></script> -->
    <script type="text/javascript" src="{% static 'pm/script/js/main.js' %}"></script>

    
    <script type="text/javascript">
  		var data = [{"HDMC":"新课程背景下小学语文自主读写研究","HDLX":"线上","HDSJ":"2016-05-15 10:00-12:00"},{"HDMC":"《背景》公开课","HDLX":"线上","HDSJ":"2016-05-15 10:00-12:00"},{"HDMC":"《在山的那一边》优质课","HDLX":"线上","HDSJ":"2016-05-15 10:00-12:00"},{"HDMC":"新课程背景下小学语文自主读写研究","HDLX":"线上","HDSJ":"2016-05-15 10:00-12:00"},{"HDMC":"新课程背景下小学语文自主读写研究","HDLX":"线上","HDSJ":"2016-05-15 10:00-12:00"}];
    
    	$(function(){
            $('#dg').datagrid({data:data}).datagrid('clientPaging');
        }); 
        
        (function($){
            function pagerFilter(data){
                if ($.isArray(data)){   // is array
                    data = {
                        total: data.length,
                        rows: data
                    }
                }
                var target = this;
                var dg = $(target);
                var state = dg.data('datagrid');
                var opts = dg.datagrid('options');
                if (!state.allRows){
                    state.allRows = (data.rows);
                }
                if (!opts.remoteSort && opts.sortName){
                    var names = opts.sortName.split(',');
                    var orders = opts.sortOrder.split(',');
                    state.allRows.sort(function(r1,r2){
                        var r = 0;
                        for(var i=0; i<names.length; i++){
                            var sn = names[i];
                            var so = orders[i];
                            var col = $(target).datagrid('getColumnOption', sn);
                            var sortFunc = col.sorter || function(a,b){
                                return a==b ? 0 : (a>b?1:-1);
                            };
                            r = sortFunc(r1[sn], r2[sn]) * (so=='asc'?1:-1);
                            if (r != 0){
                                return r;
                            }
                        }
                        return r;
                    });
                }
                var start = (opts.pageNumber-1)*parseInt(opts.pageSize);
                var end = start + parseInt(opts.pageSize);
                data.rows = state.allRows.slice(start, end);
                return data;
            }

            var loadDataMethod = $.fn.datagrid.methods.loadData;
            var deleteRowMethod = $.fn.datagrid.methods.deleteRow;
            $.extend($.fn.datagrid.methods, {
                clientPaging: function(jq){
                    return jq.each(function(){
                        var dg = $(this);
                        var state = dg.data('datagrid');
                        var opts = state.options;
                        opts.loadFilter = pagerFilter;
                        var onBeforeLoad = opts.onBeforeLoad;
                        opts.onBeforeLoad = function(param){
                            state.allRows = null;
                            return onBeforeLoad.call(this, param);
                        }
                        var pager = dg.datagrid('getPager');
                        pager.pagination({
                            onSelectPage:function(pageNum, pageSize){
                                opts.pageNumber = pageNum;
                                opts.pageSize = pageSize;
                                pager.pagination('refresh',{
                                    pageNumber:pageNum,
                                    pageSize:pageSize
                                });
                                dg.datagrid('loadData',state.allRows);
                            }
                        });
                        $(this).datagrid('loadData', state.data);
                        if (opts.url){
                            $(this).datagrid('reload');
                        }
                    });
                },
                loadData: function(jq, data){
                    jq.each(function(){
                        $(this).data('datagrid').allRows = null;
                    });
                    return loadDataMethod.call($.fn.datagrid.methods, jq, data);
                },
                deleteRow: function(jq, index){
                    return jq.each(function(){
                        var row = $(this).datagrid('getRows')[index];
                        deleteRowMethod.call($.fn.datagrid.methods, $(this), index);
                        var state = $(this).data('datagrid');
                        if (state.options.loadFilter == pagerFilter){
                            for(var i=0; i<state.allRows.length; i++){
                                if (state.allRows[i] == row){
                                    state.allRows.splice(i,1);
                                    break;
                                }
                            }
                            $(this).datagrid('loadData', state.allRows);
                        }
                    });
                },
                getAllRows: function(jq){
                    return jq.data('datagrid').allRows;
                }
            })
        })(jQuery);
    </script>
</body> 

<!-- Ueditor编辑器JS -->
<script type="text/javascript" charset="utf-8" src="{% static 'pm/script/ue/ueditor.config.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'pm/script/ue/ueditor.all.js' %}"></script>
<script type="text/javascript" src="{% static 'pm/script/ue/lang/zh-cn/zh-cn.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'pm/script/ue/ueditor.parse.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'pm/script/ue/base.js' %}"></script>
<script type="text/javascript" charset="utf-8" src="{% static 'pm/script/ue/UEbase.js' %}"></script>

<script type="text/javascript">
	$(document).ready(function() {
		var um = UE.getEditor('editor');
		loadUE(um);
	});
</script>
</html>
